[submodule "odata.net"]
	path = odata.net
	url = git@github.com:OData/odata.net.git
[submodule "WebApi"]
	path = WebApi
	url = git@github.com:OData/WebApi.git
[submodule "Mvc"]
	path = Mvc
	url = git@github.com:aspnet/Mvc.git
